.header{
	text-align: center;
}

.container{
	margin-left: 30%;
}

.results-container{
	border: 1px solid black;
  	padding: 14px;
}

.results-content{
	margin-left: 3%;
}

.link{
	margin-left: 95%;
}